html {
	font-family: Tahoma, Geneva, sans-serif;
}

header {
    background-color: crimson;
    color: whitesmoke;
    margin: 2em;
    text-align: center;
}

aside {
    background-color: darkgray;
    display: inline-block;
    float: right;
    padding: 1em;
    flex: 1;
}

main {
    border: solid black 2px;
    background-color: lightblue;
    display: inline-block;
    padding: 1em;
    flex: 3;
}

footer {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 1em;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}

.main image{
    width: 150 px;
}
